
@{
    ViewBag.Title = "Ruudukko";
}

<h2>Ruudukkotestiä</h2>
<button class="btn btn-primary">Poista <span class="glyphicon glyphicon-trash"></span></button>
<p>&nbsp;</p>
<div class="row">
    <div class="col-md-3" style="background-color:plum">Vasen sarake</div>
    <div class="col-md-3" style="background-color:papayawhip">Keski sarake</div>
    <div class="col-md-3" style="background-color:palevioletred">Oikea sarake</div>
</div>
<div class="row">
    <div class="col-md-3" style="background-color:antiquewhite">Vasen sarake</div>
    <div class="col-md-3" style="background-color:pink">Keski sarake</div>
    <div class="col-md-3" style="background-color:mediumvioletred">Oikea sarake</div>
</div>


